@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{

    /* background-image: url(./images/high-rise-buildings-during-night-time-photo-219692.jpg); */
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
    ), url(./images/high-rise-buildings-during-night-time-photo-219692.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:100vh;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.world-clock-container h1{
    color:#FFFFFF;
    font-weight: bold;
    margin-top:70px;
    margin-bottom:20px;
}


.world-clock-container p.welcome-text{
    padding-bottom:10px;
}

.input-container{
    width:65%;
    margin: 0 auto;
}

.input-container button{
    background-color: #280c54;
    color: #FFFFFF;
}

.input-container button:hover{
    color: #FFFFFF;
}

.city-list{
    background-color: #280c54;
    color: #FFFFFF;
    width:100%;
    padding-top:12px;
    padding-bottom:12px;
    /* border-radius:3px; */
    margin-bottom:1px;
    padding-left:15px;
    cursor: pointer;
}

.match-list{
    background-color: #d7c0ea;
    max-height:40vh;
    overflow-y:auto;
    
}

.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
}
.custom-scrollbar::-webkit-scrollbar-track { 
    background : #F8F9FA;
    border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background :  #d7c0ea;
    border-radius: 5px;
}

.round-clock{
    /* height:250px;
    width:250px; */
    background-color: #2d2328;
    display: inline-block;
    padding:40px;
    border-radius: 50%;
    border:8px solid #DA7E74;
}

.inner-round{
    padding:40px;
    border-radius: 50%;
    border:1px solid #FFFFFF;
}

.inner-round small, p{
    color:#FFFFFF;
}

.inner-round p{
    font-size: 25px;
}

.inner-round p span{
    font-size:12px;
}

#ip-location, #ip-time{
    color:#f2ad1a;
    font-weight:bold;
}